<!doctype html>

{% load staticfiles %}

<div class="container">
    <div class="heading text-center">
        <!-- Heading -->
        <h2>梦想空间 DreamSpace</h2>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p class="intro"> 从首都副中心和产业升级、科技创新、社会服务、文化聚集的角度出发，打造咖啡、智能科技展示体验、书店三大主要功能，聚集最新的创新思维、创业理念、最前沿的科技产品，吸引最具创新精神、创造活力的有智青年群体汇聚通州。
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="sub-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3><a href="#top" class="sub-header">加盟单位</a></h3>
                    </div>
                </div>
            </div>
            <div class="row display-area">
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top">
                            <img src="/static/images/company-logos/wanke.png" width="100%" height="100%">
                        </a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/jd.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/google.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/xiaoze.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/xinhua.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/baidu.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/T.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/apple.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/delphi.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/gear.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/tianhong.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/xiachu.png" width="100%" height="100%"></a>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4">
                    <div class="tray text-center">
                        <a href="#top"><img src="/static/images/company-logos/bluepower.png" width="100%" height="100%"></a>
                    </div>
                </div>

            </div>
            <div class="sub-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3><a href="#top" class="sub-header">活动集锦</a></h3>
                    </div>
                </div>
            </div>
            <div class="sub-nav-area">
                <nav id="filter" class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="#" data-filter="*">全部内容</a>
                        </div>
                        <div>
                            <ul class="nav navbar-nav">
                                <li><a href="#" data-filter=".photo" >图文报道</a></li></li>
                                <li><a href="#" data-filter=".video">视频报道</a></li>
                                <li><a href="#" data-filter=".recent">近期活动</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row display-area">
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">

                            <article class="col-md-4 col-sm-4 isotopeItem photo">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img1.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img1.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 col-sm-4 isotopeItem video">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img2.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img2.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <article class="col-md-4 col-sm-4 isotopeItem video">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img3.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img3.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 col-sm-4 isotopeItem recent">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img4.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img4.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 col-sm-4 isotopeItem video">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img5.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img5.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 col-sm-4 isotopeItem photo">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img6.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img6.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 col-sm-4 isotopeItem recent">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img7.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img7.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 col-sm-4 isotopeItem video">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img8.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img8.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 col-sm-4 isotopeItem recent">
                                <div class="portfolio-item">
                                    <img src="/static/images/portfolio/img9.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <a href="/static/images/portfolio/img9.jpg" class="fancybox"><h5>Project Name</h5>
                                                <i class="fa fa-expand fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sub-header">
                <div class="row">
                    <div class="col-md-10">
                        <h3><a href="#top" class="sub-header">公益排行榜</a></h3>
                    </div>
                </div>
            </div>
            <div class="row list">
                <div class="span3 bs-docs-sidebar">
                    <ul class="nav nav-list bs-docs-sidenav">
                        <li><a href="#dropdowns">万科<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">京东<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">Google<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">小泽画室<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">新华书店<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">百度<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">T<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">苹果<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">Delphi<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">Gear<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">天洪圆方<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">夏初<span class="badge pull-right">公益数据</span></a></li>
                        <li><a href="#dropdowns">Bluepower<span class="badge pull-right">公益数据</span></a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="sub-header-square">
                <div class="row">
                    <div class="col-md-10">
                        <h3><a href="#top" class="sub-header">书礼中心</a></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <ul class="horizontal-display-area">
                <li class="horizontal-display-item"><div class="book shadowed"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"></div><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>
                <li class="horizontal-display-item"><img src="/static/images/portfolio/img9.jpg" width="100%" height="100%"><a>book</a></li>

            </ul>
        </div>

    </div>

</div>
<!--/.container-->