<!doctype html>

{% load staticfiles %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="heading text-center">
                <!-- Heading -->
                <h2>青春通州 YouthTongzhou</h2>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <p class="intro"> 从首都副中心和产业升级、科技创新、社会服务、文化聚集的角度出发，打造咖啡、智能科技展示体验、书店三大主要功能，聚集最新的创新思维、创业理念、最前沿的科技产品，吸引最具创新精神、创造活力的有智青年群体汇聚通州。
                        </p>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="media">
                <div class="pull-left">
                    <i class="fa fa-cloud color fa-5x"></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">E-Commerce</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
                </div>
            </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
            <div class="media">
                <div class="pull-left">
                    <i class="fa fa-cloud color fa-5x"></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Web Development</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
                </div>
            </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4 col-sm-6">
            <div class="media">
                <div class="pull-left">
                    <i class="fa fa-cloud color fa-5x"></i>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Mobile Dev</h3>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
                </div>
            </div>
        </div><!--/.col-md-4-->
    </div><!--/.row-->

    <div class="row">
        <div class="col-md-12">
            <div id="myCarousel" class="carousel slide auto-carousel" data-interval="5000" data-ride="carousel">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner auto-carousel-frame">
                    <div class="item active auto-carousel-slide">
                        <video class="auto-media" controls>
                            <source src="/static/videos/video1.mp4" type="video/mp4">
                            <source src="/static/videos/video1.ogg" type="video/ogg">
                            <source src="/static/videos/video1.webm" type="video/webm">
                            <object data="/static/videos/video1.mp4" width="320" height="240">
                                <embed src="/static/videos/video1.swf" width="320" height="240">
                            </object>
                        </video>
                        <div class="carousel-caption"><div>梁非凡</div><div>梁非凡你吔屎啦</div></div>
                    </div>
                    <div class="item auto-carousel-slide">
                        <video class="auto-media" controls>
                            <source src="/static/videos/video2.mp4" type="video/mp4">
                            <source src="/static/videos/video2.ogg" type="video/ogg">
                            <source src="/static/videos/video2.webm" type="video/webm">
                            <object data="/static/videos/video2.mp4" width="320" height="240">
                                <embed src="/static/videos/video2.swf" width="320" height="240">
                            </object>
                        </video>
                        <div class="carousel-caption"><div>金坷垃</div><div>小麦亩产一千八，非洲农业能发达</div></div>
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <div>
                        <img class="arrow" src="/static/images/left-arrow.png">
                    </div>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <div>
                        <img class="arrow" src="/static/images/right-arrow.png">
                    </div>
                </a>
            </div>
        </div>
    </div>

        <div class="gap"></div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-cloud color fa-5x"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Web Marketing</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-cloud color fa-5x"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Graphic Design</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
            <div class="col-md-4 col-sm-6">
                <div class="media">
                    <div class="pull-left">
                        <i class="fa fa-cloud color fa-5x"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">SEO Services</h3>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
                    </div>
                </div>
            </div><!--/.col-md-4-->
        </div><!--/.row-->
</div><!--/.container-->