<!doctype html>

{% extends 'base.html' %}
{% load staticfiles %}

{% block top %}
<section id="home" class="page-section">
	<div class="banner-container">
		<div class="container banner-content">
			<<!--h1>Responsive Page Scrolling<br/><span>with Bootstrap</span></h1>
		    <p class="lead">Use the navigation above to scroll to different page sections.</p>
		    <p><a href="#about" class="button-outline"> More.. </a></p>-->
			<div id="da-slider" class="da-slider">
				<div class="da-slide">
					<h2>Easy management</h2>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
					<a href="#" class="da-link button-outline">Read more</a>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>Revolution</h2>
					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
					<a href="#" class="da-link button-outline">Read more</a>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>Warm welcome</h2>
					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
					<a href="#" class="da-link button-outline">Read more</a>
					<div class="da-img"></div>
				</div>
				<div class="da-slide">
					<h2>Quality Control</h2>
					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
					<a href="#" class="da-link button-outline">Read more</a>
					<div class="da-img"></div>
				</div>
				<nav class="da-arrows">
					<span class="da-arrows-prev"></span>
					<span class="da-arrows-next"></span>
				</nav>
			</div>
		</div>
	</div>
	<!--/.container-->
</section>
{% endblock %}

{% block test %}
<section id="aboutUs" class="page-section pDark pdingBtm30">
	<div class="container">
		<div class="heading text-center">
			<!-- Heading -->
			<h2>About Us</h2>
			<p>At lorem ipsum available, but the majority have suffered alteration humour or randomised Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur </p>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-6">
				<div class="tray text-center">
					<h3><i class="fa fa-desktop color"></i> &nbsp;HTML5/CSS3</h3>
					<!-- Paragraph -->
					<p>Duis aute irure dolor in repreh enderit in voluptate velit esse cillum dolore pariatur.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="tray text-center">
					<!-- Heading -->
					<h3><i class="fa fa-cloud color"></i> &nbsp;Bootstrap</h3>
					<!-- Paragraph -->
					<p>Duis aute irure dolor in repreh enderit in voluptate velit esse cillum dolore pariatur.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="tray text-center">
					<!-- Heading -->
					<h3><i class="fa fa-home color"></i> &nbsp;Single Page</h3>
					<!-- Paragraph -->
					<p>Duis aute irure dolor in repreh enderit in voluptate velit esse cillum dolore pariatur.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-6">
				<div class="tray text-center">
					<!-- Heading -->
					<h3><i class="fa fa-coffee color"></i> &nbsp;Responsive</h3>
					<!-- Paragraph -->
					<p>Duis aute irure dolor in repreh enderit in voluptate velit esse cillum dolore pariatur.</p>
				</div>
			</div>
		</div>
	</div>
	<!--/.container-->
</section>
{% endblock %}

{% block content %}
<section id="services" class="page-section darkBg">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="heading text-center">
					<!-- Heading -->
					<h2>Our Services</h2>
					<p>At lorem Ipsum available, but the majority have suffered alteration in some form by injected humour.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="media">
					<div class="pull-left">
						<i class="fa fa-cloud color fa-5x"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">E-Commerce</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
					</div>
				</div>
			</div><!--/.col-md-4-->
			<div class="col-md-4 col-sm-6">
				<div class="media">
					<div class="pull-left">
						<i class="fa fa-cloud color fa-5x"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">Web Development</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
					</div>
				</div>
			</div><!--/.col-md-4-->
			<div class="col-md-4 col-sm-6">
				<div class="media">
					<div class="pull-left">
						<i class="fa fa-cloud color fa-5x"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">Mobile Dev</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
					</div>
				</div>
			</div><!--/.col-md-4-->
		</div><!--/.row-->
		<div class="gap"></div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="media">
					<div class="pull-left">
						<i class="fa fa-cloud color fa-5x"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">Web Marketing</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
					</div>
				</div>
			</div><!--/.col-md-4-->
			<div class="col-md-4 col-sm-6">
				<div class="media">
					<div class="pull-left">
						<i class="fa fa-cloud color fa-5x"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">Graphic Design</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
					</div>
				</div>
			</div><!--/.col-md-4-->
			<div class="col-md-4 col-sm-6">
				<div class="media">
					<div class="pull-left">
						<i class="fa fa-cloud color fa-5x"></i>
					</div>
					<div class="media-body">
						<h3 class="media-heading">SEO Services</h3>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore oluptate velit es pariatur</p>
					</div>
				</div>
			</div><!--/.col-md-4-->
		</div><!--/.row-->
	</div><!--/.container-->
</section>
{% endblock %}