<!doctype html>

<section id="home" class="page-section">
    {% include 'homepage/subpages/home.html' %}
</section>

<section id="dreamSpace" class="page-section pDark pdingBtm30">
    {% include 'homepage/subpages/dreamSpace.html' %}
</section>

<section id="youthTZ" class="page-section darkBg">
    {% include 'homepage/subpages/youthTZ.html' %}
</section>

<section id="youthUnion" class="page-section section appear clearfix">
    {% include 'homepage/subpages/youthUnion.html' %}
</section>

<section id="newsCenter" class="page-section team-member">
    {% include 'homepage/subpages/newsCenter.html' %}
</section>

<section class="page-section darkBg" id="contactUs">
    {% include 'homepage/subpages/contactUs.html' %}
</section>