<!doctype html>

<section class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="socialIcons">
                    <li><a href="#" class="fbIcon" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a></li>
                    <li><a href="#" class="twitterIcon" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a></li>
                    <li><a href="#" class="googleIcon" target="_blank"><i class="fa fa-google-plus-square fa-lg"></i></a></li>
                    <li><a href="#" class="pinterest" target="_blank"><i class="fa fa-pinterest-square fa-lg"></i></a></li>
                </ul>   <div class="pull-right webThemez">Copyright &copy; 2016. 通州团委 All rights reserved.</div>
            </div>
        </div>  <!-- / .row -->
    </div>
</section>